spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:mariadb://localhost:3306/mydb
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      username: root
      password: '{cipher}AQBp8pU4M/uie8HxwR785g+Trdh4iIO194dpgf+MrozYCNLF+kDvWTyu13JUhbyPDyDuS/MF0ZJr478LqMwRyYxq0+/cvbBzHBA8vFoCIVk7Er/O6n0p4lXpM/Q3416LbkEL0+Rrwj1hPiBjiP6DBp5JGPR2qNA4NAOFWP2IhLNPlYfQw/ktl0MsGABwABgA5Pu7ML5LZXMohRSmrzZxFoMGNK7WIbvKNnH5O/VFYlqoN8kYv4rtZoDiwDqckEvS3efkrocMF5DnZIWdyyozeVkC9xG0U3mGia4dAkFzV0EGZ0WWP9kPm4pxVglaItvskwdtTWaPnTT2exFc+jUhNDOlJ8BUt2oaZPUsux0ot5GdqtRJgPhDo7dY2j/f5lKywek='

  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_PROPERTIES: true

  cloud:
    openfeign:
      httpclient:
        hc5:
          enabled: false # Disables Apache HttpClient 5 and potentially enables Java 11 HttpClient

  application:
    name: covy-cart

    #  Redis Default ??
    data:
      redis:
        host: localhost
        port: 6379

    elasticsearch:
      uris: localhost:9200


    eureka:
      instance:
        instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
      client:
        register-with-eureka: true
        fetch-registry: true
        server-url:
          defaultZone: http://127.0.0.1:8761/eureka
server:
  port: 0